$background-g-color: #273042
$color-g-red: #E23943

$font-croissant: 'Croissant One', cursive
$font-Montserrat: 'Montserrat', sans-serif

=dropdown-background
  background: url('../icons/arrow-down.png') no-repeat right transparent
  background-size: 13px 7px
  appearance: none
  -moz-appearance: none
  -webkit-appearance: none
  border: none
  color: #fff
  font-family: 'Avenir'

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius
