@import global

.cards-section

  .card
    min-height: 300px
    padding: 0px

    div
      padding-left: 10px
      padding-top: 10px

      .slide
        width: 100%
        overflow: hidden
        position: relative

        img
          width: 100%
          height: auto
          +border-radius(5px)

      .info

        h2
          font-family: $font-Avenir
          font-weight: bold
          font-size: 18px
          color: #000
          margin-bottom: 10px

          span
            font-weight: normal
            font-size: 14px
            margin-left: 10px
            color: $color-g-yellow

        span
          font-family: $font-Avenir
          font-size: 14px
          color: #000
